/*Font Grape Nuts titluri*/
.fontGrapeNuts{
    font-family: 'Grape Nuts', cursive;
  }

/*Font Pacifico subtitluri*/
.fontPacifico{
  font-family: 'Pacifico', cursive;
}

/*Font Montserrat text*/
.fontMontserrat{
    font-family: 'Dancing Script', cursive;
}

/*Font */
