/*Font Joan titluri*/
.fontJoan{
    font-family: 'Joan', serif;
  }

/*Font Roboto Mono subtitluri*/
.fontRoboto{
  font-family: 'Roboto Mono', monospace;
}

/*Font Comfortaa  intrebari frecvente*/
.fontComfortaa{
  font-family: 'Comfortaa', serif;
}

/*Font Rubik text*/
.fontRubik{
  font-family: 'Rubik', sans-serif;
}

/*Font Fascinate Inline butoane*/
.fontFascinate{
  font-family: 'Fascinate Inline', cursive;
}