:root {
  --darkgreen: #005361;
  --dark: #000;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.tabs-to-dropdown .dropdown-toggle,
.tabs-to-dropdown .dropdown-item {
  font-size: 1.3rem;
}

.tabs-to-dropdown .nav-wrapper {
  padding: 15px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.12);
}

.tabs-to-dropdown .nav-wrapper a {
  color: var(--darkgreen);
}

.tabs-to-dropdown .nav-pills .nav-link.active {
  background-color: var(--darkgreen);
}

.tabs-to-dropdown .nav-pills li:not(:last-child) {
  margin-right: 30px;
}

.tabs-to-dropdown .tab-content .container-fluid {
  max-width: 1250px;
}

.tabs-to-dropdown .dropdown-menu {
  border: none;
  box-shadow: 0px 5px 14px rgba(0, 0, 0, 0.08);
}

.tabs-to-dropdown .dropdown-item {
  padding: 14px 28px;
}

.tabs-to-dropdown .dropdown-item:active {
  color: var(--dark);
}

@media (min-width: 1280px) {
  .tabs-to-dropdown .nav-wrapper {
    padding: 15px 30px;
  }
}

@media (max-width: 360px) {
  .tab-pane{
    padding-left: 0;
  }
}

@media (min-width: 361px) and (max-width: 449px) {
  .tab-pane{
    padding-left: 25px;
  }
}

@media (min-width: 450px) and (max-width: 575px) {
  .tab-pane{
    padding-left: 50px;
    margin-left: 50px;
  }
}