*{
  background-color: #faf0e6 !important;
}

/*Carusel Slider*/

/* Clasa carusel */
.carousel {
  margin-bottom: 3rem;
}

/* Declararea inaltimii elementului imagine*/
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Inaltime elemente slider */
.carousel-item {
  height: 32rem;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
}

/*Culoare buton Slider*/
.carousel-item a {
  background-color:	#63F;
  color:azure;
}
.carousel-item a:hover{
  color: black;
  background-color: #F9F;
}
  /*Pentru produse populare*/

.photoCake{
  height: 25rem;
  width: 100%;
}

/*Animatie pentru textWrite*/

.textWrite {
  overflow: hidden; /* Textul ascuns in animatie */
  border-right: .15em solid transparent; /* Cursorul de la animatie white (ascuns) */
  white-space: nowrap; /* Pentru o singura linie */
  margin: 0 auto; /* Efect scrolling */
  animation: /*Animatie*/
    typing 3.5s steps(40, end),
    blink-caret .75s step-end;
}

/* Efectul de typing */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}
